header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header * {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header > div {
  justify-content: space-around;
  width: 30%;
}

header .left-header {
  justify-content: center;
  min-width: min-content;
}

header .left-header *{
  margin: 0 2%;
}

header .right-header {
  justify-content: space-evenly;
}

.middle-header .logo {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.middle-header h2 {
  align-items: flex-start;
}

.browse-group p {
  min-width: 150px;
}

@media screen and (max-width: 440px) {
  header .left-header {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}