body {
    background-color: #f4f1f7;
}

footer {
    padding: 150px 100px;
    max-width: 100%;
}

.top-wrapper {
    display: block;
    width: 100%;
}

.section {
    float: left;
    width: 30%;
    padding-right: 20px;
}

.section .logo {
    color: red;
    font-size: 12px;
}

.section .left-text {
    line-height: 30px;
    text-align: justify;
    opacity: 0.5;
}

.section p {
    font-size: 14px;
    opacity: 0.5;
}

.section h3 {
    margin-bottom: 36px;
    opacity: 1;
}

.section .icon {
    margin-right: 10px;
    line-height: 12px;
    opacity: 0.5;
}

.section input {
    border: none;
    border-bottom: 2px solid black;
    width: 90%;
    opacity: 0.5;
}

.section input:focus {
    outline: none;
}

.section .send {
    color: red;
}

.section span {
    margin-left: 5px;
}

.section span:active {
    color: #000;
}

.bottom-wrapper {
    display: block;
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bottom-wrapper .left {
    float: left;
    display: inline;
}

.bottom-wrapper .right {
    float: right;
    display: inline;
    padding-right: 7%;
}

.bottom-wrapper .left .fa-stack {
    margin-right: 10px;
    font-size: 18px;
    color: black;
}

.bottom-wrapper .left a {
    text-decoration: none;
}

.bottom-wrapper .left a:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.20);
}

.right span {
    color: red;
    font-weight: bolder;
}

footer a {
    text-decoration: none;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .8;
    }
}

.bold {
    font-weight: bold;
}

.popular-genres {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.popular-genres .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-genres .header .title {
    border-left: 2px solid #000;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

.popular-genres .header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
}

.popular-genres .header ul li {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: large;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.popular-genres .header ul li.active,
.popular-genres .header ul li:hover {
    border-top: 2px solid #ad2b2b;
    border-bottom: 2px solid #ad2b2b;
    color: #ad2b2b;
}

.popular-genres .books {
    margin-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
}

.popular-genres .book {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8fa;
    border-radius: 5px;
    box-shadow: -4px 6px 30px -14px rgb(212, 212, 212);
    -webkit-box-shadow: -4px 6px 30px -14px rgb(212, 212, 212);
    -moz-box-shadow: -4px 6px 30px -14px rgb(212, 212, 212);
    cursor: pointer;
}

.popular-genres .book:hover {
    background-color: #e9e9e9;
    box-shadow: -4px 6px 30px -14px rgb(119, 119, 119);
    -webkit-box-shadow: -4px 6px 30px -14px rgb(119, 119, 119);
    -moz-box-shadow: -4px 6px 30px -14px rgb(119, 119, 119);
}

.popular-genres .book .front-cover img,
.popular-genres .book .back-cover img {
    object-fit: cover;
    aspect-ratio: 1.4 / 2;
    width: 100%;
    box-shadow: -2px 26px 30px -14px rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: -2px 26px 30px -14px rgba(128, 128, 128, 0.3);
    -moz-box-shadow: -2px 26px 30px -14px rgba(128, 128, 128, 0.3);
}

.popular-genres .book .back-cover {
    position: relative;
    display: none;
}

.popular-genres .book .back-cover .action {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 15, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-genres .book .back-cover .action div {
    margin: 2px;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    background-color: white;
    color: rgb(38, 36, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.popular-genres .book .back-cover .action div svg {
    width: 12px;
    fill: currentColor;
}

.popular-genres .book .back-cover .action div:hover {
    background-color: #e9e9e9;
}

.popular-genres .book .back-cover .action div.checkout {
    background-color: #bd3a3a;
    color: white;
}

.popular-genres .book .back-cover .action .checkout:hover {
    background-color: #ad2b2b;
}

.popular-genres .book:hover .front-cover {
    display: none;
}

.popular-genres .book:hover .back-cover {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    display: block;
}

.popular-genres .book .category {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

.popular-genres .book .title {
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.popular-genres .book .price {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #bd3a3a;
}

.popular-genres .book .rating {
    margin-top: 5px;
    display: none;
}

.popular-genres .book .rating div {
    width: 20px;
    height: 20px;
    color: #f5be3d;
}

.popular-genres .book .rating svg {
    fill: currentColor;
}

.popular-genres .book:hover .price {
    display: none;
}

.popular-genres .book:hover .rating {
    display: flex;
    justify-content: center;
}